/* Styles généraux ou de base */
body {
    min-height: 100vh;
    background-color: white;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.diagonal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0797c377;
    clip-path: polygon(
      66.67% 0%,
      100% 0,
      100% 100%,
      33.33% 100%
    );
    z-index: -1;
}

.film-page .diagonal-background {
    background-color: #688b5b8c;
}

nav {
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-item {
    list-style-type: none;
    margin: 0 30px;
}

.nav-item a {
    text-decoration: none;
    color: #333;
}

.nav-item a:hover {
    text-decoration: underline;
    transition: 0.5s ease;
}

/* Styles pour le menu burger */
.burger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background: #333;
    transition: all 0.3s ease;
}


.logo-ghibli {
    width: 63vw;
    margin: auto;
    margin-top: 8%;
    display: block;
    max-width: 100%;
}

.presentation-studio {
    width: 50%;
    position: absolute;
    right: 0;
    margin-right: 3rem;
    margin-top: 2rem;
}

.logo-ghibli, .presentation-studio {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}



/* Styles pour la page des films */
h2 {
    text-align: center;
    margin-top: 6rem;
    font-size: 2rem;
}
#type-filter{
    margin-left: 80%;
    background-color: #688b5b;
    color: white;
    padding: 0.2rem;
    border-radius: 1rem;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    width: 20%;
    background-color: #D5E3C5;
    border-radius: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    min-height: 400px;
    position: relative;
}

.card img {
    width: 90%;
    max-height: 200px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.card a {
    
    margin-bottom: 1rem;
    background-color: #688b5b82 ;
    padding: 0.8rem;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    position: absolute;
    bottom: 3rem;

}

.card h3{
    text-align: center;
    margin-bottom: 3rem;
}

.card a:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles pour la page d'un film */

.One-film-page{
    background-image: url(https://ekladata.com/sDjW7McpmSVB9l07pz9UvwE6r-U.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.779); /* Blanc avec 50% d'opacité */
    background-blend-mode: overlay;
}

.One-film-page .diagonal-background {
    background-color: #556a5b; 
    
}

.name-date{
    position: absolute;
    left: 10%;
    top: 15%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: end;
}

.date{
    font-size: 1.3rem;
}

.central-image img {
    max-height: 600px;
    margin: auto;
    position: absolute;
    left: 30%;
    top: 24%;
}

.button{
    background-color: #688b5b ;
    padding: 0.8rem;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    
}

#bande-annonce{
    position: absolute;
    top: 50%;
    left: 20%;
}

.button:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.presentation-film{
    position: absolute;
    right: 7%;
    top: 30%;
    width: 25rem;
    color: white;
}

#come-back{
    position: absolute;
    top: 70%;
    right: 15%;
}

/* Styles pour la page des réalisateurs*/

.director-presentation{
    text-align: center;
    padding: 1rem;
}

/* Styles pour la page d'inscription*/

.petite-image-ghibli img{
    width: 25rem;
    position: absolute;
    top: 45%;
    right: 2%;
}

.formulaire-inscription{
    margin: 10rem;
    margin-top: 15rem;
   

}

#signIn-form{
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: auto;
    background-color: #237590;
    border-radius: 10%;
    padding: 1rem;
    min-height: 25rem;
    
    
}

#signIn-form h2{
    margin-top: 1rem;
    color: white;
}

#signIn-form input{
    border: none;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

#signIn-form label{
    font-weight: bold;
    color: white;
}

.registerbtn{
    margin-top: 1rem;
    width: 25%;
    margin: auto;
    background-color:#0798C3 ;
    border: none;
    border-radius: 1rem;
    color: white;
}

.registerbtn:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.signin{
    color: white;
}

#login-button{
    width: 27%;
    height: 2rem;
}


/*Style pour la page de listes*/

.list-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;

}

.list{
    width: 25%;
    height: 600px;
    background-color: #688b5b;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.expand-button{
    display: none;
}
.list-icon{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 2rem;
    margin-bottom: 0;
}

.list-icon img{
    width: 1.8rem;
    height: 1.8rem;
    margin-inline: 0.3rem;
    
}

.list-title{
    color: white;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.movie-inList-card{
    width: 90%;
    background-color: #a3c996;
    height: fit-content;
    position: relative;
    border-radius: 1rem;
    justify-items: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;

    
}

.close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  
  .close-icon::before,
  .close-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
  }
  
  .close-icon::before {
    transform: rotate(45deg);
  }
  
  .close-icon::after {
    transform: rotate(-45deg);
  }

  .movie-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow-y: auto;
    margin-top:2rem;

  }

.small-img{
    height: 4rem;
    width: 6rem;
    border-radius: 10%;
}

h4{
    margin-left: 0.4rem;
    color: white;
    font-size: 1rem;
    
}

/*Media query tablette*/

@media (min-width: 642px) and (max-width: 839px) {
    .burger-menu {
        display: block;
    }

    .nav-list {
        display: none;
        position: absolute;
        height: 100vh;
        top: 60px;
        left: 0;
        width: 30%;
        background: #fff;
        flex-direction: column;
        padding: 20px;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-item {
        margin: 10px 0;
    }

    .burger-menu.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }

    .logo-ghibli{
        margin-top: 20%;
    }

    .presentation-container {
        width: 100%;
        min-height: 200px;
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin-top: 2rem;
        
    }

    .presentation-studio{
        width: 90%;
        text-align: center;
    }

    /*Media query pour tablette de la page des films*/

    #type-filter{
        margin-left: 70%;
        margin-top: 8%;

    }

    .card{
        width: 40%;
        
    }

    

    .name-date{
        position: absolute;
        left: 7%;
        top: 15%;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: end;
    }

    .central-image img {
        max-height: 500px;
        margin: auto;
        position: absolute;
        left: 20%;
        top: 40%;
    }

    #bande-annonce{
        position: absolute;
        top: 25%;
        left: 20%;
    }

    .presentation-film{
        position: absolute;
        right: 2%;
        top: 32%;
        width: 17rem;
        color: white;
    }

    #come-back{
        position: absolute;
        top: 60%;
        right: 15%;
    }

    /* Media Query tablette pour la page réalisateurs déjà ok*/
    /* Media Query pour tablette pour la page de connexion*/

    .formulaire-inscription{
        margin: 5rem;
        margin-top: 20rem;
    
    }

    .petite-image-ghibli img{
        width: 22rem;
        position: absolute;
        top: 40%;
        right: 2%;
    }

    #signIn-form{
        display: flex;
        flex-direction: column;
        width: 65%;
        margin: auto;
        background-color: #237590;
        border-radius: 10%;
        padding: 1rem;
        min-height: 20rem;
        
        
    }

    #login-button{
        width: 35%;
        height: 2rem;
    }

    /*Media query tablette pour la page des listes*/

    .list-container{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 8rem;
    
    }

    .list{
        width: 90%;
        background-color: #688b5b;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .list-icon img{
        width: 1.2rem;
        height: 1.2rem;
        margin-inline: 0.3rem;
        
    }
    .expandable-list {
        width: 90%; /* Largeur initiale */
        height: 150px; /* Hauteur initiale */
        overflow: hidden; /* Cache le contenu dépassant */
        transition: all 0.3s ease; /* Animation douce */
    }
    
    .movie-list-container {
        display: none; /* Caché par défaut */
    }
    
    .expandable-list.expanded {
        width: 90%; /* Largeur étendue */
        height: fit-content; /* Hauteur automatique */
    }
    
    .expandable-list.expanded .movie-list-container {
        display: block; /* Affiché quand étendu */
    }

    .expand-button{
        width: 20%;
        display: block;
        margin: auto;
        border: none;
        background-color: #a3c996;
        color: white;
        border-radius: 0.5rem;

    }

    .movie-list-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        overflow-y: auto;
        margin-top:3rem;
    
    }

    .movie-inList-card{
        width: 90%;
        background-color: #a3c996;
        height: fit-content;
        position: relative;
        border-radius: 1rem;
        margin: auto;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
    
        
    }


}

/* Media Query pour les téléphones*/

@media (min-width: 350px) and (max-width: 641px){
    .burger-menu {
        display: block;
    }

    .nav-list {
        display: none;
        position: absolute;
        height: 100vh;
        top: 60px;
        left: 0;
        width: 30%;
        background: #fff;
        flex-direction: column;
        padding: 20px;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-item {
        margin: 10px 0;
    }

    .burger-menu.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }

    .logo-ghibli{
        margin-top: 30%;
        width: 80%;
    }

    .presentation-container {
        width: 100%;
        min-height: 200px;
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin-top: 2rem;
        margin: auto;
        
    }

    .presentation-studio{
        width: 80%;
       
        text-align: center;
        
    }

    /*Media query pour mobile de la page des films*/

    #type-filter{
        margin-left: 60%;
        margin-top: 8%;
        width: 7rem;

    }

    h2{
        font-size: 1.8rem;
    }

    .card{
        width: 70%;
        
    }

    /*Media Query pour la page d'un film*/
    .name-date{
        position: absolute;
        left: 5%;
        top: 15%;
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: end;
    }

    .central-image img {
        max-height: 300px;
        margin: auto;
        position: absolute;
        left: 10%;
        top: 60%;
    }

    #bande-annonce{
        position: absolute;
        top: 25%;
        left: 10%;
        width: 9rem;
        font-size: 0.8rem;
        text-align: center;
    }

    .presentation-film{
        position: absolute;
        border-radius: 1rem;
        padding: 1rem;
        right: 20%;
        top: 32%;
        width: 17rem;
        color: white;
        background-color: #33333365;
    }

    #come-back{
        position: absolute;
        top: 60%;
        right: 5%;
        font-size: 0.8rem;
    }

    /* Media Query pour tablette pour la page de connexion*/

    .formulaire-inscription{
        margin: 2rem;
        margin-top: 10rem;
    
    }

    .petite-image-ghibli img{
        width: 20rem;
        position: absolute;
        top: 45%;
        right: 2%;
    }

    #signIn-form{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        background-color: #237590;
        border-radius: 10%;
        padding: 1rem;
        min-height: 20rem;
        
        
    }

    #login-button{
        width: 35%;
        height: 2rem;
    }

    /*Media query tablette pour la page des listes*/

    .list-container{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-top: 8rem;
    
    }

    .list{
        width: 90%;
        background-color: #688b5b;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 2rem;
    }

    .list-icon img{
        width: 1.2rem;
        height: 1.2rem;
        margin-inline: 0.3rem;
        
    }
    .expandable-list {
        width: 90%; /* Largeur initiale */
        height: 150px; /* Hauteur initiale */
        overflow: hidden; /* Cache le contenu dépassant */
        transition: all 0.3s ease; /* Animation douce */
    }
    
    .movie-list-container {
        display: none; /* Caché par défaut */
    }
    
    .expandable-list.expanded {
        width: 90%; /* Largeur étendue */
        height: fit-content; /* Hauteur automatique */
    }
    
    .expandable-list.expanded .movie-list-container {
        display: block; /* Affiché quand étendu */
    }

    .expand-button{
        width: 20%;
        display: block;
        margin: auto;
        border: none;
        background-color: #a3c996;
        color: white;
        border-radius: 0.5rem;

    }

    .movie-list-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        overflow-y: auto;
        margin-top:3rem;
    
    }

    .movie-inList-card{
        width: 90%;
        background-color: #a3c996;
        height: fit-content;
        position: relative;
        border-radius: 1rem;
        margin: auto;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
    
        
    }



}
