/* Styles généraux ou de base */
body {
    min-height: 100vh;
    background-color: white; /* Fond blanc par défaut */
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

.diagonal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0797c377; /* Couleur pour la page des films */
    clip-path: polygon(
      66.67% 0%, /* Point de départ à 2/3 de la largeur en haut */
      100% 0, /* Coin supérieur droit */
      100% 100%, /* Coin inférieur droit */
      33.33% 100% /* Point d'arrivée à 1/3 de la largeur en bas */
    );
    z-index: -1;
}

.film-page .diagonal-background {
    background-color: #688b5b8c; /* Couleur pour la page des films */
}

nav {
    padding: 20px; /* Ajoute de l'espace autour de la barre de navigation */
    position: fixed;
    top: 0;
    
}

.nav-list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0; /* Enlève la marge par défaut */
    width: 100%; /* Assure que la liste prend toute la largeur disponible */
}

.nav-item {
    list-style-type: none;
    margin: 0 30px; /* Ajoute un peu d'espace entre les éléments */
}

.nav-item a {
    text-decoration: none;
    color: #333; /* Couleur du texte, à ajuster selon vos besoins */
}

.nav-item a:hover {
    text-decoration: underline;
    transition: 0.5s ease;
}

.logo-ghibli {
    width: 63vw;
    margin: auto;
    margin-top: 8%;
    display: block;
    max-width: 100%;
}

.presentation-studio {
    width: 50%;
    position: absolute;
    right: 0;
    margin-right: 3rem;
    margin-top: 2rem;
}

.logo-ghibli, .presentation-studio {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}



/* Styles pour la page de films */
h2 {
    text-align: center;
    margin-top: 6rem;
    font-size: 2rem;
}
#type-filter{
    margin-left: 80%;
    background-color: #688b5b;
    color: white;
    padding: 0.2rem;
    border-radius: 1rem;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    width: 20%;
    background-color: #D5E3C5;
    border-radius: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    min-height: 400px;
}

.card img {
    width: 90%;
    max-height: 200px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.card a {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #688b5b82 ;
    padding: 0.8rem;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;

}

.card a:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles pour la page d'un film */

.One-film-page{
    background-image: url(https://ekladata.com/sDjW7McpmSVB9l07pz9UvwE6r-U.jpg);
    background-color: rgba(255, 255, 255, 0.779); /* Blanc avec 50% d'opacité */
    background-blend-mode: overlay;
}

.One-film-page .diagonal-background {
    background-color: #556a5b; 
    
}

.name-date{
    position: absolute;
    left: 10%;
    top: 15%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: end;
}

.date{
    font-size: 1.3rem;
}

.central-image img {
    max-height: 600px;
    margin: auto;
    position: absolute;
    left: 30%;
    top: 24%;
}

.button{
    background-color: #688b5b ;
    padding: 0.8rem;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    
}

#bande-annonce{
    position: absolute;
    top: 50%;
    left: 20%;
}

.button:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.presentation-film{
    position: absolute;
    right: 7%;
    top: 30%;
    width: 25rem;
    color: white;
}

#come-back{
    position: absolute;
    top: 70%;
    right: 15%;
}

/* Styles pour la page des réalisateurs*/

.director-presentation{
    text-align: center;
    padding: 1rem;
}

/* Styles pour la page d'inscription*/

.petite-image-ghibli img{
    width: 25rem;
    position: absolute;
    top: 35%;
    right: 2%;
}

.formulaire-inscription{
    margin: 10rem;

}

#signIn-form{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    background-color: #237590;
    border-radius: 10%;
    padding: 1rem;
    min-height: 25rem;
    
}

#signIn-form h2{
    margin-top: 1rem;
    color: white;
}

#signIn-form input{
    border: none;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

#signIn-form label{
    font-weight: bold;
    color: white;
}

.registerbtn{
    margin-top: 1rem;
    width: 25%;
    margin: auto;
    background-color:#0798C3 ;
    border: none;
    border-radius: 1rem;
    color: white;
}

.registerbtn:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.signin{
    color: white;
}

#login-button{
    width: 27%;
    height: 2rem;
}


/*Style pour la page de listes*/

.list-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;

}

.list{
    width: 25%;
    height: 600px;
    background-color: #688b5b;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.list-icon{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 2rem;
    margin-bottom: 0;
}

.list-icon img{
    width: 1.8rem;
    height: 1.8rem;
    margin-inline: 0.3rem;
    
}

.list-title{
    color: white;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.movie-inList-card{
    width: 90%;
    background-color: #a3c996;
    height: fit-content;
    position: relative;
    border-radius: 1rem;
    justify-items: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;

    
}

.close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  
  .close-icon::before,
  .close-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
  }
  
  .close-icon::before {
    transform: rotate(45deg);
  }
  
  .close-icon::after {
    transform: rotate(-45deg);
  }

  .movie-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow-y: auto;
    margin-top:2rem;

  }

.small-img{
    height: 4rem;
    width: 6rem;
    border-radius: 10%;
}

h4{
    margin-left: 0.4rem;
    color: white;
    font-size: 1rem;
    
}

